@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
 
.game_board {
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.board_row {
    position: relative;
}
.board_cell {
    position: relative;
    text-align: center;
    background-color: cornflowerblue;
    font-family: 'Quicksand';
    font-size: 30pt;
}
.board_cell:after {
    content: '';
    display: block;
}
.board_cell .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.game_area {
    margin: auto;
    width: 70%;
    height: 100vh;
    overflow: hidden;
}

.left_area {
    height: 50%;
    margin: auto;
    overflow: hidden;
}

.board_area {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    margin: auto;
    overflow: hidden;
}

.right_area {
    height: 50%;
    margin: auto;
    overflow: hidden;
}