<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/game.css') }}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"></script>

        <script type = "text/javascript">
            let player_name = "{{ player }}";
            let game_id = "{{ game_id }}";
        </script>

        <script type = "text/javascript" src = "{{ url_for('static', filename = 'script/game.js') }}" ></script>
    </head>
    <body>
        <table id='game_area' class='game_area'> <tr>
            <td>
                <div id='left_area' class='left_area'>
                    <div id='settings_area' style='text-align: center;'>
                        <h3 style='text-align: center;'> <u>Settings</u> </h3>
                        <table id='settings' class='settings'>
                            <tr>
                                <td style='text-align: right;'><label>Round Timer: </label></td>
                                <td><select id='round_timer' onchange='changeSettings();'>
                                    <option value=60>  1:00 </option>
                                    <option value=90>  1:30 </option>
                                    <option value=120> 2:00 </option>
                                    <option value=150> 2:30 </option>
                                    <option value=180 selected=true> 3:00 </option>
                                    <option value=210> 3:30 </option>
                                    <option value=240> 4:00 </option>
                                    <option value=270> 4:30 </option>
                                    <option value=300> 5:00 </option>
                                </select></td>
                            </tr>
                            <tr>
                                <td style='text-align: right;'><label>Board Size: </label></td>
                                <td><select id='board_size' onchange='changeSettings();'>
                                    <option value=4>  4x4 </option>
                                    <option value=5>  5x5 </option>
                                </select></td>
                            </tr>
                            <tr>
                                <td style='text-align: right;'><label>Minimum Word Length: </label></td>
                                <td><select id='word_length' onchange='changeSettings();'>
                                    <option value=2> 2 </option>
                                    <option value=3 selected=true> 3 </option>
                                    <option value=4> 4 </option>
                                    <option value=5> 5 </option>
                                </select></td>
                            </tr>
                        </table>
                        <button id='start_button' class='pure-button' onclick="startGame();">Start Round</button>
                    </div>
                    <div id='player_list_area'>
                        <h3 style='text-align: center;'><u>Players</u></h3>
                        <ul id='player_list' class='player_list'>
                            {% for p in players: %}
                                {% if p == player: %}
                                    <li><b>{{ p }}</b></li>
                                {% else: %}
                                    <li>{{ p }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </td>
            <td>
                <div id='board_area' class='board_area'>
                    <table class='game_board'>
                        <tbody id='game_board'></tbody>
                    </table> 
                </div>
            </td>
            <td>
                <div id='right_area' class='right_area'>
                    <div id='timer' class='timer'>
                        3:00
                    </div>
                    <h3> <u>Words</u> </h3>
                    <ul id='word_list' class='word_list'></ul>
                    <input type="text" id='player_text_input' class='player_text_input' 
                        onkeyup='formatInput();' onkeypress='submitWord(event);'>
                    <p id='word_msg' class='word_msg'></p>
                </div>
            </td>
        </tr></table>
    </body>
</html>